<h2>Países</h2>
<hr>

<ul class="list-group">

  <!-- routerLink para cambiar ruta al presionar el botón  -->
  <!-- routerLinkActive: clase que se aplicará cuando la URL activa coincida con la URL del navegador -->
  <!--
    routerLinkActiveOptions: objeto de configuración
    exact: true -> para que haga match en su totalidad con la ruta que se quiere
  -->
  <li routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{
      exact: true
    }"
    class="list-group-item">
    Home Page
  </li>

  <li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    About Page
  </li>

  <li routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item">
    By capital
  </li>

  <li routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item">
    By country
  </li>

  <li routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item">
    By region
  </li>

</ul>
